@font-face {
    font-family: 'PirataOne';
    font-style: normal;
    font-weight: 400;
    src: local('PirataOne'), url('/fonts/PirataOne-Regular.ttf') format('truetype')
}

html, body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.preload {
    font-family: PirataOne, sans-serif;
    position: absolute;
    left: -1000px;
}

