<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referrer" content="strict-origin-when-cross-origin" />
    <meta charset="utf-8">
    <title>Treasure Hunters</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials" />
    <link rel="stylesheet" href="/default.css">
</head>
<body>
<div id="game"></div>
</body>
</html>
